<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>sitemappath</Title>
    <Author>Microsoft Corporation</Author>
    <Shortcut>sitemappath</Shortcut>
    <AlternativeShortcuts>
      <Shortcut Value="sitemappath">asp:sitemappath</Shortcut>
    </AlternativeShortcuts>
    <Description>Markupausschnitt für ein sitemappath-Steuerelement</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="html"><![CDATA[<asp:sitemappath runat="server" />$end$]]></Code>
  </Snippet>
</CodeSnippet>
