<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Aktion durchführen, wenn sich der Systemstromversorgungs-Modus ändert</Title>
      <Author>Microsoft Corporation</Author>
      <Description>Führt eine Aktion durch, wenn sich der Systemstromversorgungs-Modus ändert.</Description>
      <Shortcut>osPower</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>Microsoft.VisualBasic</Namespace>
        </Import>
        <Import>
          <Namespace>Microsoft.Win32</Namespace>
        </Import>
      </Imports>
      <Code Language="VB" Kind="method decl"><![CDATA[Dim WithEvents systemEvent As SystemEvents

    Private Sub systemEvent_PowerModeChanged(ByVal sender As Object, ByVal e As Microsoft.Win32.PowerModeChangedEventArgs) Handles systemEvent.PowerModeChanged
        Select Case e.Mode
            Case PowerModes.Resume

            Case PowerModes.StatusChange

            Case PowerModes.Suspend

            Case Else

        End Select

    End Sub]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
