<?xml version ="1.0"?>
<configuration>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Security.Cryptography.UseLegacyFipsThrow=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="liblinux" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="16.0.0.0" href="..\..\..\..\PrivateAssemblies\liblinux.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VS.Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <codeBase version="2020.0.0.0" href="..\..\..\..\PrivateAssemblies\VS.Renci.SshNet.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.VisualC.Logging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="16.0.0.0" href="..\..\..\..\PrivateAssemblies\Microsoft.VisualStudio.VisualC.Logging.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>