<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>cl</Title>
    <Author>Microsoft Corporation</Author>
    <Shortcut>cl</Shortcut>
    <Description>console.log 的程式碼片段</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="TypeScript"><![CDATA[console.log($end$);]]></Code>
  </Snippet>
</CodeSnippet>
