<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Einträge, die von einer bestimmen Anwendung erstellt wurden, aus dem Ereignisprotokoll lesen</Title>
      <Author>Microsoft Corporation</Author>
      <Description>Füllt eine Liste mit allen Ereignisprotokolleinträgen für eine Anwendung aus.</Description>
      <Shortcut>evReadApp</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>System</Namespace>
        </Import>
        <Import>
          <Namespace>Microsoft.VisualBasic</Namespace>
        </Import>
        <Import>
          <Namespace>System.Diagnostics</Namespace>
        </Import>
        <Import>
          <Namespace>System.Collections.Generic</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>LogName</ID>
          <Type>String</Type>
          <ToolTip>Ersetzen Sie dies durch den Protokollnamen. Liest das Anwendungsprotokoll auf dem lokalen Computer.</ToolTip>
          <Default>"Application"</Default>
        </Literal>
        <Literal>
          <ID>SourceName</ID>
          <Type>String</Type>
          <ToolTip>Ersetzen Sie dies durch den Quellnamen. Der Quellname wird beim Schreiben der Ereignisse einer bestimmten Anwendung zugeordnet.</ToolTip>
          <Default>"SourceName"</Default>
        </Literal>
      </Declarations>
      <Code Language="VB" Kind="method body"><![CDATA[Dim log As New EventLog($LogName$)
Dim entries As New List(Of EventLogEntry)
For Each entry As EventLogEntry In log.Entries
    If entry.Source = $SourceName$ Then
        entries.Add(entry)
    End If
Next]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
